@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue&family=Itim&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto&display=swap');

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
/*Page Style*/
html {
    scroll-behavior: smooth;
}
body {
    background-size: cover;
    margin: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

::selection {
    color: black;
    background: yellow;
  }
/*
font-family: 'Fredoka One', cursive;          <---Titles
font-family: 'JetBrains Mono', monospace;     <---Code/Monospace
font-family: 'Nanum Pen Script', cursive;     <---Handwriting
font-family: 'Roboto', sans-serif;            <---Default
font-family: 'Roboto Slab', serif;            <---Serif
*/


/*
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    margin-top: -80px;

    outline:none;

    border-image: linear-gradient(#eeeeee, #0f0f0f) 180;
    border-width: 100px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}*/

.header {
    position:fixed;
    z-index: 100;
}

.title  {
    background-image: url('https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh; 
    width: 100%;
    text-align: center;
    z-index: 0;
    margin: 0;
    margin-top: -140px;
}
.title h1 {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
}
.title p {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
}
.titletxt {
    text-align: center;
    width: 40%;
    padding: 50px;
    position: absolute;
    top: 50%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.288);
    box-shadow: 0px 25px 50px rgba(29, 29, 29, 0.5);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
.titletxt:hover {
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 70px;
}
.contact {
    background-image: url('images/title_bg.png');
    padding: 50px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}


.about {
    color: white;
    padding: 50px;
}
.about h1 {
    font-size: 2.5em;
    font-family: 'Fredoka One', cursive;
}

#abouttxt {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif; 
}


.contact_text {
    color: white;
    font-family: 'Fredoka One', cursive;
    transition: 0.5s;
    width: 700px;
    padding: 5px;
    padding-bottom: 30px;
    padding-left: 10px;
    max-width: 80vw;
}

.contact_text:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.288);
    box-shadow: 0px 25px 50px rgba(70, 70, 70, 0.5);
}

.contact_text h1{
    font-size: 3em;
    transition: 0.5s;
}

.contact_text h1:hover {
    letter-spacing: 2px;
}

.contact_text p {
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


.homebtn {
    color: white;
    background-color: rgb(0, 0, 0, 0);
    border: solid #ffffff;
    border-width: 2px;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    height: 40px;
    transition: 0.5s;
}
.homebtn:hover {
    background-color: white;
    color: black;
}



.menubar {
    position: fixed;
    top: 30px;
    right: 40px;
}

.menu {
    height: 30px;
    width: 70px;
    background: none;
    color: white;
    border: none;
    transition: 0.5s;
    font-size: 1em;
}

.menu:hover {
    background-color: white;
    color: black;
}

footer {
    background-color: rgba(255, 255, 255, 0.1);
    margin:0;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;

    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
th, td {
    padding: 15px;
    
}

table a {
    color: white;
}


.projects {
    background-color: white;
    color: black;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 50px;
    border-radius: 10px;
    
}
.projects h1 {
    font-size: 2.5em;
    font-family: 'Fredoka One', cursive;
    transition: 0.5s;
}
.projects h1:hover {
    letter-spacing: 4px;
}
.projectbtn {
    background-image: linear-gradient(-45deg, rgb(255, 0, 0) 0%, rgb(0, 0, 255) 100%); 
    color: white;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    transition: 0.5s;
    border: none;
    border-width: 3px;
    border-radius: 5px;
    
}
.projectbtn:hover {
    transform: scale(1.2);
}

.latestprojects {
    text-align: center;
}

.latestproject {
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 400px;
    margin: 50px;

    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.288);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);

    display: inline-block;

    transition: 0.5s;
    vertical-align: bottom;
}

.latestproject:hover {
    transform: scale(1.1);
    
}


.latestproject img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.latestproject h2 {
    font-family: 'Fredoka One', cursive;
}


.latestproject {
    color: black;
}